


     .accordion-body {
        background-color: #0cc0f7;
      }

      .accordion img{
          width: 200px;
          margin-left: 7px;
          margin-bottom: -106px;
      }

      h1 {
        text-align: center;
      }

      h3 {
          text-align: center;
          font-style: italic;
      }


      .accordion {
        width: 800px;
        margin: 90px auto;
        background-color: white;
        padding: 4px;
      }

      .accordion .container {
        position: relative;
        margin: 10px 10px;
        padding: 0%;
      }

      .accordion .label {
        position: relative;
        padding: 10px 0;
        font-size: 30px;
        color: black;
        cursor: pointer;
      }

      .accordion .label::before {
        content: '+';
        color: black;
        position: absolute;
        top: 16%;
        right: 41px;
        font-size: 30px;
        cursor: pointer;
      }

      .accordion .content {
        position: relative;
        background: white;
        height: 0;
        font-size: 20px;
        text-align: justify;
        width: 780px;
        overflow: hidden;
        transition: 0.5s;
      }


      .accordion .container.active .content {
        height: 150px;
        background-color: #0dcaf01f;
      }

      .accordion .container.active .label::before {
        content: '-';
        font-size: 30px;
      }